.Posts {
    /* height: 600px; */
    background-color: rgba(179, 177, 177, 0.075);
    flex-wrap: wrap;
    overflow: hidden;
    width: 90%;
    justify-content: center;
    margin: auto;
    padding: 10px;
    padding-bottom: 40px;
}