.profileNavbar {
    height: 70px;  
    width: 250px;
    border-radius: 0px 0px 20px 0px;
    background-color: #61AEA7;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.444);
}

.festivaProfile {
    background-image: url('D:/Projects/festivaWebApp/festiva/Festiva Logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-top: 7px;
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 50px;
}

.profileButtons {
    background-color: rgba(206, 206, 206, 0.379);
    height: 650px;
    width: 230px;
    border-radius: 0px 20px 0px 0px;
    padding-top: 40px;
}

.profileButtons button {
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 60%;
}

button:nth-child(4) {
    margin-top: 300px;
}

.LGB {
    background-color: #a0d5d1;
}

.GB {
    background-color: #61AEA7;
}