.Post {
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.489);
    background-color: white;
    border-radius: 30px;
    margin: 20px 20px 0px 20px;
    animation: 1s onPostMount forwards;
}

.barClass {
    height: 2px;
    margin: 0px;
    background-color: #2ec4b6;
    animation: 2s loadingBarAnimation forwards;
}

img {
    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.imgURL {
    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.InfoBox {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    background-color: #7a8ff0;
    flex-wrap: wrap;
    margin: auto;
    color: white;
    width: 95%;
    height: 62px;
    margin-top: 2px;
    border-radius: 10px 10px 25px 25px;
    font-size: 15px;
}

.InfoBox p {
    margin-bottom: 5px;
    margin-top: 5px;
}
.imgURL p {
    padding: 20px;
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.429);
}

.zoomIn {
      animation: 0.5s zoomInAnimation both;
}

@keyframes zoomInAnimation {
    0% {
    }
    100% {
        scale: 1.08;
    }
}

@keyframes onPostMount {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

@keyframes loadingBarAnimation {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}