.loginForm {
    padding:60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 382px;
    margin:auto;
    margin-top: 10%;
    align-items: center;
    background-color: #2EC4B6;
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.615);
    border-radius: 50px;
    font-family: sans-serif; 
    outline: 5px solid #22a598;
    
}

.loginInput {
    height: 70px;
    width: 300px;
    font-size: 30px;
    margin: 1%;
    color: black;
    font-weight: bolder;
}

.loginInput::placeholder {
    color: #A9A3A3;
}

.button {
    width: 80px;
    height: 80px;
    border: none;
}