.loginForm {
    padding:60px;
    display:flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 13%;
    align-items: center;
    background-color: #2EC4B6;
    box-shadow: 30px 30px 10px gray;
    font-family:sans-serif;
    
}

.button {
    height: 100px;
    margin-top: 20px;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}