.post {
    font-family: sans-serif;
    width: 1100px;
    border: 1px solid black;
    box-shadow: 0px 10px 10px rgba(133, 132, 132, 0.332);
    border-radius: 50px;
}

.post h1{
    background-color: #5C7AFF;
    color: white;
    padding: 20px;
    width: 800px;
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 20px 0px 20px 0px;
    font-size: 25px;
}

.post p {
    font-size: 20px;
    margin-top: 0px;
    margin: 0px 100px 10px 100px;
}

.dateTime {
    
}

.locPerf {
}